$header-height: 40px;

$font-xxsmall: .4em;
$font-xsmall: .6em;
$font-small: .8em;
$font-medium: 1em;
$font-large: 2em;
$font-xlarge: 3em;
$font-xxlarge: 4em;

$margin-xxsmall: .4em;
$margin-xsmall: .6em;
$margin-small: .8em;
$margin-medium: 1em;
$margin-large: 1.5em;
$margin-xlarge: 2em;
$margin-xxlarge: 3em;

$color-white: var(--c-0-100);
$color-primary: var(--c-1-100);
$color-secondary: var(--c-2-100);
$color-error: var(--c-3-100);
$color-success: var(--c-4-100);
$color-neutral: var(--c-5-100);