html, body, main {
    min-height: 100% !important;
    height: 100%;
    color: var(--c-1-100);
}

/*********** COLOR *************/

.bg_primary{
    background-color: var(--c-0-100);
    color: var(--c-1-100);
}

.bg_primary_dark{
    background-color: var(--c-1-100);
    color: var(--c-0-100);
}

.bg_secondary{
    background-color: var(--c-0-100);
    color: var(--c-2-100);
}

.bg_secondary_dark{
    background-color: var(--c-2-100);
    color: var(--c-0-100);
}

.bg_error{
    background-color: var(--c-0-100);
    color: var(--c-3-100);
}

.bg_success{
    background-color: var(--c-0-100);
    color: var(--c-4-100);
}

.bg_neutral{
    background-color: var(--c-0-100);
    color: var(--c-5-100);
}

.bg_neutral_dark{
    background-color: var(--c-5-100);
    color: var(--c-0-100);
}


/************* TEXT **************/

h1{
    font-size: $font-xxlarge;
    line-height: 1.1em;
}

h2{
    font-size: $font-xlarge;
    line-height: 1.1em;
}

h3{
    font-size: $font-large;
    line-height: 1.1em;
}

h4{
    font-size: $font-medium;
    line-height: 1.1em;
}

a, a:active {
    color: var(--c-1-100);

    &:hover{
        color: var(--c-2-100);
        margin-left: $margin-small;
    }
}

.alignRight {
    text-align: right;
}

.sub_text{
    font-weight: lighter;
}

h2 + p.sub_text{
    margin-top: $margin-xsmall;
}

/************* IMG **************/

.inlineSVG {
    vertical-align: middle;
    display: inline-block;
}

.img{
    border-radius: $font-xxlarge;
}

.img::after{
    content: ' ';
    border-radius: $font-xxlarge;
    padding: 15px;
    background-color: red;
}
